body {
    font-family: Bahnschrift;
    color: #012244;
    background-color: #f2f5f7;
}

.link-1 {
    border-bottom: #012244 solid 1px;
    padding: 3px;
    margin: 7px;
}

a {
    color: #012244;
    text-decoration: none;
    font-size: 25px;
}

h1 {
    margin: 7px;
    font-size: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 7px;
}

.list {
    list-style: none;
    display: flex;
    background-color: white;
    border-radius: 40px;
    justify-content: center;
    padding: 0;
}

.list li {
    border-radius: 40px;
    padding: 15px;
}

.list li:hover {
    background-color: deeppink;
    border-radius: 40px;
    padding: 15px;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.blesk {
    width: 16px;
}

.layout-container {
    width: 65%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    margin: 7px;
}

.bytecek {
    width: 350px;
}

.layout-links {
    margin: 10px;
    display: flex;
    list-style: none;
}

.layout-links li {
    margin: 15px;
}
.container-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    margin: 7px;
    width: 30%;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.request-btn {
    background: rgb(238, 0, 243);
    background: linear-gradient(90deg, rgba(238, 0, 243, 1) 0%, rgba(207, 45, 219, 1) 45%, rgba(87, 23, 92, 1) 100%);
    width: 80%;
    border-radius: 40px;
    margin: 25px;
    text-align: center;
    padding: 15px;
}

.request-btn a {
    color: white;

}

.money-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.money-flex {
    display: flex;
    align-items: flex-end;
    margin-bottom: 22px;
}
.blesk-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 60px;
}
.img{
    width: 50px;
    display: flex;
    align-items: center;
    height: 50px;
    margin: 25px;
}
.img-con{
    display: flex;
    align-items: center;
}

.down-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.first{
    width: 25%;
    background-color: white;
    border-radius: 40px;
    margin: 7px;
    display: flex;
}


h3{
    display: flex;
}
.text{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}